<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%-include ('partials/head') %>
</head>
<body>
    <%- include('partials/navigation')%>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quae error nobis aliquam? Eveniet minima ex vero. Voluptates
                 officiis incidunt similique magnam, qui quod tempore itaque
                  repudiandae nam quam, nesciunt esse. Hic totam illo ipsam 
                  consequuntur ut ducimus vitae vero nesciunt fuga quisquam 
                  accusamus, tempora at doloremque. Quaerat porro ipsam 
                  tempore suscipit voluptates veritatis dolores 
                  necessitatibus soluta quibusdam est. Totam, alias.
                  Recusandae voluptas illum vitae libero, inventore alias 
                  qui modi maiores illo repudiandae officiis officia? Minus 
                  quisquam voluptatum nihil maxime vero dignissimos vitae 
                  aperiam veritatis, quam debitis nostrum ut nisi officiis 
                  fugiat ea! Saepe nulla, modi a iste facere accusamus esse,
                   sapiente vero ipsa id animi sequi ipsam? Rerum dolor 
                   repellendus voluptatibus numquam cupiditate accusantium,
                    quia eligendi ducimus in provident, recusandae veniam 
                    beatae fugit nulla atque excepturi, a deserunt itaque 
                    commodi. Placeat nam fugiat consequuntur accusantium!
                     Ipsam esse atque doloremque iste. Provident deserunt 
                     omnis aut dolores molestiae maiores corrupti in reiciendis 
                     velit quia. Distinctio corporis voluptates nam consequatur
                      adipisci officia quis fugiat? Placeat cumque numquam 
                      nesciunt sed praesentium laudantium consequuntur 
                      autem quam veniam earum, est, alias doloribus at
                       ipsam maxime ea! Culpa odit animi nesciunt dolores
                        magni ex placeat in, aut, ut repudiandae autem 
                accusantium nihil corrupti eius architecto quae? Odio!
            </p>
        </section>
    </main>
    <%-include ('partials/footer') %>

</body>
</html>